.container{
    background-color:#E3E7F7;
    width: 14%;
    height: 110%;
    color:#353536;
    align-items: center;

    font-weight: 600;
    font-size: 1em;
    position: fixed;
    left: 0%;

}
.upper, .lower {
    margin-bottom: 30%;
    padding: 20%;
    padding-top: 40%;
}
.upper_row {
    display: flex;
    margin-bottom: 1em;
}
.upper_p, .lower_p {
    margin-left: 1em;

}
.lower_p{
    color: #8E92A4;
}
